@tailwind base;
@tailwind components;
@tailwind utilities;

/* Card Hover Effect */
.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  font-family: 'Cormorant Garamond', serif;
}
.card-content-syne {
  font-family: 'Syne', serif;
}
.card-time {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

/* Fade-in Transition for Content */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

/* Keyframe Animation for Fade-In Effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Loader Container */
.loader-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Loader */
.loader {
  width: 3vmax;
  height: 3vmax;
  border-right: 3px solid black;
  border-radius: 100%;
  animation: spinRight 1s linear infinite;
  position: relative;
}

/* Loader inner circles */
.loader:before,
.loader:after {
  content: '';
  width: 2.5vmax;
  height: 2.5vmax;
  display: block;
  position: absolute;
  top: calc(50% - 1.25vmax);
  left: calc(50% - 1.25vmax);
  border-left: 2px solid black;
  border-radius: 100%;
  animation: spinLeft 1s linear infinite;
}

.loader:after {
  width: 1.8vmax;
  height: 1.8vmax;
  top: calc(50% - 0.9vmax);
  left: calc(50% - 0.9vmax);
  border: 0;
  border-right: 1px solid black;
  animation: none;
}

/* Spin left animation */
@keyframes spinLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

/* Spin right animation */
@keyframes spinRight {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


